<div class="col-6">
    <!-- BEGIN  Buy Card-->
    <div class="card">
        <div id='header_buy' class="card-header">

        </div>
        <div class="card-body p-1">
            <div class="alert alert-secondary p-1" role="alert">
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <%-__('Your balance:')%>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span id='id_buy_balance'></span>
                                            <div id="id_balance_spiner1">
                                                <div id="circularG_1" class="circularG"></div>
                                                <div id="circularG_2" class="circularG"></div>
                                                <div id="circularG_3" class="circularG"></div>
                                                <div id="circularG_4" class="circularG"></div>
                                                <div id="circularG_5" class="circularG"></div>
                                                <div id="circularG_6" class="circularG"></div>
                                                <div id="circularG_7" class="circularG"></div>
                                                <div id="circularG_8" class="circularG"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id='id_buy_coin'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class='col-md-6'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Highest Ask:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id='id_max_ask'></td>
                                    </tr>
                                    <tr>
                                        <td id='id_max_ask_coin'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <form id="form_buy" class="p-3">
                <div class="form-group row">
                    <label for="inputBuyAmount" class="col-md-4 col-form-label form-control-sm">Amount:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputBuyAmount" placeholder="0.0" aria-describedby="id_amount_buy" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_amount_buy"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBuyPrice" class="col-md-4 col-form-label form-control-sm">Price:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputBuyPrice" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_price_buy"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBuyComission" class="col-md-4 col-form-label form-control-sm">Comission:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputBuyComission" readonly placeholder="0.0">
                        <span class="currency" id="id_comission_buy"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputBuyTotal" class="col-md-4 col-form-label form-control-sm">Total:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputBuyTotal" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_total_buy"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
<%-__('Buy')%>
</button>
            </form>

        </div>
    </div>
    <!-- END  Buy Card-->
</div>
<div class="col-6">
    <!-- BEGIN  Sell Card-->
    <div class="card">
        <div id='header_sell' class="card-header">

        </div>
        <div class="card-body p-1">
            <div class="alert alert-secondary p-1" role="alert">
                <div class='container'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <%-__('Your balance:')%>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <span id='id_sell_balance'></span>
                                            <div id="id_balance_spiner2">
                                                <div id="circularG_1" class="circularG"></div>
                                                <div id="circularG_2" class="circularG"></div>
                                                <div id="circularG_3" class="circularG"></div>
                                                <div id="circularG_4" class="circularG"></div>
                                                <div id="circularG_5" class="circularG"></div>
                                                <div id="circularG_6" class="circularG"></div>
                                                <div id="circularG_7" class="circularG"></div>
                                                <div id="circularG_8" class="circularG"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td id='id_sell_coin'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class='col-md-6'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Highest Bid:</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id='id_max_bid'></td>
                                    </tr>
                                    <tr>
                                        <td id='id_max_bid_coin'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <form id="form_sell" class="p-3">
                <div class="form-group row">
                    <label for="inputSellAmount" class="col-md-4 col-form-label form-control-sm">Amount:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputSellAmount" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_amount_sell"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSellPrice" class="col-md-4 col-form-label form-control-sm">Price:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputSellPrice" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_price_sell"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSEllComission" class="col-md-4 col-form-label form-control-sm">Comission:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputSellComission" readonly placeholder="0.0">
                        <span class="currency" id="id_comission_sell"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSellTotal" class="col-md-4 col-form-label form-control-sm">Total:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputSellTotal" placeholder="0.0" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46 || event.charCode == 0 ">
                        <span class="currency" id="id_total_sell"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
<%-__('Sell')%>
</button>
            </form>
        </div>
    </div>
    <!-- END Sell Card-->
</div>
